.product_dashboard {
    width: 22rem;
    height: 12rem;
    background-color: white;
    box-shadow: rgb(20, 20, 20) 0px 8px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.product_dashboard:hover {
    background-color: rgb(223, 177, 93);
    box-shadow: rgb(236, 210, 161) 0px 8px 20px;
}

.pro_dashboard:hover {
    background-color: rgb(223, 177, 93);
    box-shadow: rgb(236, 210, 161) 0px 8px 20px;
}

.h3_dash {
    padding: 48px 0 0 40px;
}

.h3_dash:hover {
    font-size: 30px;
}

.icon_dash {
    margin-right: 15px;

}

.icon_dash:hover {
    font-size: 40px;
}

.pro_dashboard {
    width: 22rem;
    height: 12rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgb(10, 10, 10) 0px 8px 20px;

}

.dash {
    display: grid;
    grid: 250px / 30rem auto;
    margin: 7rem 0 0 25rem;
}