.navbar {
    background: rgb(230, 230, 230);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px 0;
    height:100px;
    
   
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; 
  }
         
  .logo h1 { 
    color:white;
    font-size: 24px;
    margin: 0;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color:black;
    text-decoration: none;
    
    font-size: 18px;
  }
  button{
    text-decoration: none;
    background:transparent;
    border:1px solid black;
    margin-left: 28rem;
    height:40px;
    width:90px;
    border-radius:5px;
    box-shadow:rgb(240, 208, 150) 0px 4px 10px ;

    
  }
  
  .nav-links li {
    text-decoration: underline;
    list-style:none;
  }
  button:hover{
    box-shadow: rgba(0, 0, 0, 0.48) 5px 6px 10px 0px;
    transition:800ms;
  }
  .image{
    width:50px;
    height:50px;
    border-radius:100%;
    margin-left:2rem;
  }
  .signup{
    margin-left:3rem;
  }
  .logo{
    width:140px;
    height:60px;
   
    
    background-color: black;
    border-radius: 20px;
 
  }
  .right{
    list-style:none;
  }